// BUG FIX ON VERY SMALL HEIGHT DEVICES
.xsmall-vh {
    .section__figure {
        &__img {

            top: 50% !important;
            transform: translate(-50%, -50%) !important;
        }

        &__title {

            transform: translate(-50%, -11%) !important;
            bottom: 11% !important;
        }
    }

}
.section {
    &__container {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        @include respond-to(small-only, portrait) {
            flex-direction: column;
        }
         @include respond-to(small-only, both) {
             height:90%;
         }

    }


    &__figure {
        position: relative;
        height: 100%;
        width: 50%;


        @include respond-to(small-only, portrait) {
            width: 100%;
        }


        &__img {
            position: absolute;
            height: 60%;
            width: 60%;
            z-index: 10;
            object-fit: cover;
            z-index: -1;
            display: block;
            overflow: hidden;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::after {
                position: absolute;
                content: "";
                width: 0;
                width: 100%;
                height: 100%;
                background: white;
                bottom: 0;
                display: block;
            }

            @include respond-to(small-only, portrait) {
                top:95%;
                left:50%;
                transform: translate(-50%, -95%);


            }

            >img {
                transform: scale(1.3);
                width: 100%;
                height: auto;
                margin-top: 0;


            }

        }

        &__title {
            width: fit-content;
            position: absolute;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2.5rem;
            font-size: 3.5rem;
            text-align: left;
            z-index: 20;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 50%;
            right: 10%;
            transform: translate(-10%, -50%);


            @include respond-to(small-only, portrait) {
                flex-direction: row;
                font-size: 1.8rem;
                letter-spacing: 0.8rem;
                top: inherit;
                left: 50%;
                right: inherit;
                transform: translate(-50%, 6%);
                bottom: -6%;



            }

            @include respond-to(medium-only, landscape) {
                top: 22%;
                right: 5%;
                transform: translate(-5%, -22%);
            }

            &.fill {
                -webkit-text-fill-color: black;
                z-index: -1;
            }

            &.nofill {

                -webkit-text-fill-color: transparent;
                color: transparent;
                -webkit-text-stroke: 0.065rem black;
                z-index: 2;

            }

            &__line-1,
            &__line-2,
            &__line-3 {
                transform: matrix(1, -0.03, 0, 1, 0, -20);
                opacity: 0;
                white-space: nowrap;
                width: fit-content;
                height: auto;




            }


            &__line-2 {
                @include respond-to(small-only, portrait) {
                    margin-left: 0;

                }

                margin-left: 25%;

            }

            &__line-3 {
                @include respond-to(small-only, portrait) {
                    margin-left: 0;

                }

                margin-left: 43%;

            }
        }
    }

    &__content {
        position: relative;
        width: 50%;
        height: 100%;

        padding: 0;


        @include respond-to(small-only, portrait) {
            width: 100%;
            text-align: center;
        }

        &__inner {
            position: absolute;
            top: 48%;
            transform: translate(0, -50%);
            opacity: 0;
            max-width: 350px;

            @include respond-to(small-only, portrait) {

                left: 50%;
                transform: translate(-50%, -50%);
            }


        }

        &__title {
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            font-size: 2.3rem;


            @include respond-to(small-only, portrait) {
                font-size: 1.5rem;


            }




        }

        &__link {
            .intro-link {
                @include respond-to(small-only, portrait) {
                    margin: 0 auto
                }

                    display: block;
                    position: relative;
                    overflow: hidden !important;
                    width: 250px;
                    padding-top: 13px;
                    letter-spacing: .4em;
                    font-weight: 500;
                    font-size: .7em;
                    text-transform: uppercase;
                    transition: all cubic-bezier(0.3, 0.83, 0.3, 1) 0.7s;
                    white-space: nowrap;
                    box-sizing: border-box;


                &:focus,
                &:hover {
                    padding-left: 250px;
                      @include respond-to(small-only, both) {
                           padding-left: 0;
                      }


                    &::before {
                        visibility: visible;
                        opacity: 1;
                        left: 0px;
                        top: 0;

                    }

                    &::after {
                        width: 70px;



                    }
                }

                &::before {

                    display: block;
                     @include respond-to(small-only, both) {
                         display: none;
                     }
                    position: absolute;
                    top: 0;
                    left: -250px;
                    width: 250px;
                    visibility: hidden;
                    opacity: 0;
                    padding-top: 15px;
                    transition: all cubic-bezier(0.3, 0.83, 0.3, 1) 0.7s;
                    content: 'Sur LinkedIn';

                }

                &::after {

                    display: block;

                    width: 155px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 2px;
                    background: $light_grey;
                    transition: all cubic-bezier(0.3, 0.83, 0.3, 1) 0.7s;
                    content: '';
                }
            }

        }

    }
}
