// COULEURS
$medium_grey: #656b6f;
$dark_grey: #3b3d40;
$light_grey:#d8dad9;

// TYPOGRAPHIE

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Urania', Arial, Helvetica, sans-serif;
    src: url('../assets/font/Hoftype-Urania_Ultra.otf') format('otf'),
        url('../assets/font/Hoftype-Urania_Bold.otf') format('otf'),
        url('../assets/font/Hoftype-Urania_Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Urania, sans-serif;
    user-select: none;
    background: white;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.showcase
{
    &__container{

        // Corriger le bug de la hauteur du viewport
        height: calc(var(--vh, 1vh) * 100);
       // border:3px solid green;
    }
}

em {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

strong {
    font-weight: 600;
}

h1,
h1 p {
    font-size: 1.9rem;
    line-height: 1.25em;
    font-weight: 800;
    word-wrap: break-word;


}


h2 {
    font-size: 1.75rem;
    line-height: 1.25em;
    word-wrap: break-word;
    margin: 0 0 1rem;



}

h3 {
    font-size: 1.375rem;
    line-height: 1.15em;
    word-wrap: break-word;


}

h4 {
    font-size: 1.125rem;
    line-height: 1.1em;
    word-wrap: break-word;

}

h1,
h2,
h3,
h4,
ul,
ol,
p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

ul,
ol,
p,
a {
    margin: 1rem 0;
    line-height: 1.75;
    font-weight: 300;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
    font-weight: 600;
}

blockquote {
    margin: 0
}

